body {
    font-family: "Roboto", sans-serif;
    /*background-color: #f8fafb;*/
	/*background:url("../../assets/images/bg.jpg") no-repeat; background-size: contain;    width: 100% ;*/
	
	
	 background-image: url('../../assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

	
}
footer { color: #fff;}
footer a{ color: #fff;}


header{ box-shadow: -2px 7px 5px -2px rgba(181,175,175,0.23);
-webkit-box-shadow: -2px 7px 5px -2px rgba(181,175,175,0.23);
-moz-box-shadow: -2px 7px 5px -2px rgba(181,175,175,0.23);
}

p {
    color: #b3b3b3;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none !important;
}

.card-col {
    box-shadow: #b3b3b3 2px 2px 10px;
    padding: 20px;
    min-height: 600px;
    margin: 20px 0px 30px 0px;
    background: #fff;
}

.boxs {
    box-shadow: #b3b3b3 2px 2px 10px;
    padding: 44px;
    text-align: center;
    /* background-color: #6c63ff; */
    margin-top: 10px;
    color: #ffff;
    height: 150px;
    /* line-height: 36px; */
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: middle;
}

.btn-primary {
    color: #fff;
    background-color: #1774ba;
    border-color: #2b9aee;
}

footer {
    padding: 10px 0px 5px 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #0c4e95;
    font-weight: 500;
}

footer p {
    color: #292828;
    font-weight: 300;
    font-size: 15px;
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: middle;
}
/*.transfer-double {
    width: 96%!important;
	position: absolute
}
.transfer-double-content-left {

    width: 442px !important;
}

.transfer-double-content-right {

  width: 442px!important;
}*/

/ Responsive Styles /

@media only screen and (min-width: 250px) and (max-width: 670px) {
    .navbar-brand {
        margin-right: 0px !important;
    }

    .rspnsv-mb {
        margin-bottom: 20px;
    }

    .transfer-demo {
        width: 100% !important;
        height: auto !important;
        margin: 0 !important;
    }

    .transfer-double {
        width: 100% !important;
        position: unset !important;
        height: 100% !important;
    }

    .transfer-double-content-left {
        width: 100% !important;
        display: block;
        height: 100%;
    }

    .transfer-double-content-middle {
        width: 100% !important;
        float: unset !important;
        margin: 5px !important;
    }

    .transfer-double-content-right {
        display: block;
        width: 100% !important;
        height: 100% !important;
        border: 1px solid #eee;
        border-radius: 2px;
    }

    .btn-select-arrow+.btn-select-arrow {
        margin-top: 0px !important;
    }
}

@media only screen and (min-width: 250px) and (max-width: 670px) {
    .navbar-brand {
        margin-right: 0px !important;
    }

    .rspnsv-mb {
        margin-bottom: 20px;
    }

    .transfer-demo {
        width: 100% !important;
        height: auto !important;
        margin: 0 !important;
    }

    .transfer-double {
        width: 100% !important;
        position: unset !important;
        height: 100% !important;
    }

    .transfer-double-content-left {
        width: 100% !important;
        display: block;
        height: 100%;
    }

    .transfer-double-content-middle {
        width: 100% !important;
        float: unset !important;
        margin: 5px !important;
    }

    .transfer-double-content-right {
        display: block;
        width: 100% !important;
        height: 100% !important;
        border: 1px solid #eee;
        border-radius: 2px;
    }

    .btn-select-arrow+.btn-select-arrow {
        margin-top: 0px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .rspnsv-mb {
        margin-bottom: 20px;
    }

    .transfer-demo {
        width: 100% !important;
        height: auto !important;
        margin: 0 !important;
    }

    .transfer-double {
        width: 100% !important;
        position: unset !important;
        height: 100% !important;
    }

    .transfer-double-content-left {
        width: 100% !important;
        display: block;
        height: 100%;
    }

    .transfer-double-content-middle {
        width: 100% !important;
        float: unset !important;
        margin: 5px !important;
    }

    .transfer-double-content-right {
        display: block;
        width: 100% !important;
        height: 100% !important;
        border: 1px solid #eee;
        border-radius: 2px;
    }

    .btn-select-arrow+.btn-select-arrow {
        margin-top: 0px !important;
    }
}

#example th{     
	background: #0c355d ;
    color: #fff;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
